# Ignore everything
*

# But not these files...
!.gitignore
!*.hdl
!*.clj
!*.asm
!*.cmp
!*.tst
!*.vm
!/tools/*.sh

# ...even if they are in subdirectories
!*/

# ... but ignore this
/projects/**/.gitignore
/projects/08/**/*.asm
