function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
push constant 0
eq
if-goto else-label35305
push this 0
call Square.moveUp 1
pop temp 0
goto if-end-label35304
label else-label35305
label if-end-label35304
push this 1
push constant 2
eq
push constant 0
eq
if-goto else-label35307
push this 0
call Square.moveDown 1
pop temp 0
goto if-end-label35306
label else-label35307
label if-end-label35306
push this 1
push constant 3
eq
push constant 0
eq
if-goto else-label35309
push this 0
call Square.moveLeft 1
pop temp 0
goto if-end-label35308
label else-label35309
label if-end-label35308
push this 1
push constant 4
eq
push constant 0
eq
if-goto else-label35311
push this 0
call Square.moveRight 1
pop temp 0
goto if-end-label35310
label else-label35311
label if-end-label35310
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label while-true-label35312
push local 1
not
push constant 0
eq
if-goto while-false-label35313
label while-true-label35314
push local 0
push constant 0
eq
push constant 0
eq
if-goto while-false-label35315
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while-true-label35314
label while-false-label35315
push local 0
push constant 81
eq
push constant 0
eq
if-goto else-label35317
push constant 0
not
pop local 1
goto if-end-label35316
label else-label35317
label if-end-label35316
push local 0
push constant 90
eq
push constant 0
eq
if-goto else-label35319
push this 0
call Square.decSize 1
pop temp 0
goto if-end-label35318
label else-label35319
label if-end-label35318
push local 0
push constant 88
eq
push constant 0
eq
if-goto else-label35321
push this 0
call Square.incSize 1
pop temp 0
goto if-end-label35320
label else-label35321
label if-end-label35320
push local 0
push constant 131
eq
push constant 0
eq
if-goto else-label35323
push constant 1
pop this 1
goto if-end-label35322
label else-label35323
label if-end-label35322
push local 0
push constant 133
eq
push constant 0
eq
if-goto else-label35325
push constant 2
pop this 1
goto if-end-label35324
label else-label35325
label if-end-label35324
push local 0
push constant 130
eq
push constant 0
eq
if-goto else-label35327
push constant 3
pop this 1
goto if-end-label35326
label else-label35327
label if-end-label35326
push local 0
push constant 132
eq
push constant 0
eq
if-goto else-label35329
push constant 4
pop this 1
goto if-end-label35328
label else-label35329
label if-end-label35328
label while-true-label35330
push local 0
push constant 0
eq
not
push constant 0
eq
if-goto while-false-label35331
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while-true-label35330
label while-false-label35331
goto while-true-label35312
label while-false-label35313
push constant 0
return
