function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
push constant 0
eq
if-goto else-label35569
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto if-end-label35568
label else-label35569
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label if-end-label35568
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
push constant 0
eq
if-goto else-label35571
push this 4
push this 5
add
pop this 4
goto if-end-label35570
label else-label35571
push this 4
push this 6
add
pop this 4
push this 9
push constant 0
eq
if-goto else-label35573
push this 7
push constant 0
eq
if-goto else-label35575
push this 0
push constant 4
add
pop this 0
goto if-end-label35574
label else-label35575
push this 1
push constant 4
add
pop this 1
label if-end-label35574
goto if-end-label35572
label else-label35573
push this 7
push constant 0
eq
if-goto else-label35577
push this 0
push constant 4
sub
pop this 0
goto if-end-label35576
label else-label35577
push this 1
push constant 4
sub
pop this 1
label if-end-label35576
label if-end-label35572
label if-end-label35570
push this 8
push constant 0
eq
if-goto else-label35579
push this 7
push constant 0
eq
if-goto else-label35581
push this 1
push constant 4
add
pop this 1
goto if-end-label35580
label else-label35581
push this 0
push constant 4
add
pop this 0
label if-end-label35580
goto if-end-label35578
label else-label35579
push this 7
push constant 0
eq
if-goto else-label35583
push this 1
push constant 4
sub
pop this 1
goto if-end-label35582
label else-label35583
push this 0
push constant 4
sub
pop this 0
label if-end-label35582
label if-end-label35578
push this 0
push this 10
gt
not
push constant 0
eq
if-goto else-label35585
push constant 1
pop this 14
push this 10
pop this 0
goto if-end-label35584
label else-label35585
label if-end-label35584
push this 0
push this 11
lt
not
push constant 0
eq
if-goto else-label35587
push constant 2
pop this 14
push this 11
pop this 0
goto if-end-label35586
label else-label35587
label if-end-label35586
push this 1
push this 12
gt
not
push constant 0
eq
if-goto else-label35589
push constant 3
pop this 14
push this 12
pop this 1
goto if-end-label35588
label else-label35589
label if-end-label35588
push this 1
push this 13
lt
not
push constant 0
eq
if-goto else-label35591
push constant 4
pop this 14
push this 13
pop this 1
goto if-end-label35590
label else-label35591
label if-end-label35590
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
push constant 0
eq
if-goto else-label35593
push constant 10
pop local 4
goto if-end-label35592
label else-label35593
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
push constant 0
eq
if-goto else-label35595
push constant 20
pop local 4
goto if-end-label35594
label else-label35595
push constant 5
pop local 4
label if-end-label35594
label if-end-label35592
push this 14
push constant 1
eq
push constant 0
eq
if-goto else-label35597
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto if-end-label35596
label else-label35597
push this 14
push constant 2
eq
push constant 0
eq
if-goto else-label35599
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto if-end-label35598
label else-label35599
push this 14
push constant 3
eq
push constant 0
eq
if-goto else-label35601
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto if-end-label35600
label else-label35601
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label if-end-label35600
label if-end-label35598
label if-end-label35596
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
