function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label while-true-label35214
push local 2
push constant 0
eq
if-goto while-false-label35215
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
push constant 0
eq
if-goto else-label35217
push argument 0
push local 0
and
push constant 0
eq
not
push constant 0
eq
if-goto else-label35219
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto if-end-label35218
label else-label35219
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label if-end-label35218
goto if-end-label35216
label else-label35217
push constant 0
pop local 2
label if-end-label35216
goto while-true-label35214
label while-false-label35215
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
push constant 0
eq
if-goto else-label35221
push constant 1
return
goto if-end-label35220
label else-label35221
push argument 0
push constant 2
call Math.multiply 2
return
label if-end-label35220
function Main.fillMemory 0
label while-true-label35222
push argument 1
push constant 0
gt
push constant 0
eq
if-goto while-false-label35223
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto while-true-label35222
label while-false-label35223
push constant 0
return
